<div class="markq">
  <marquee>First Order 50% Discount</marquee>
</div>

<footer class="footer">

  <div>
    <h1>{{ shop.name }}</h1>
  </div>
  <hr>

  <div class="footerWrapper">

    <div class="footerBoxOne">
      <div class="ftrbox">
        <h2>SHOP</h2>
        <ul>
          <li>Contact Lenses</li>
          <li>Torics for Astigmatism</li>
          <li>Coloured Contact Lenses</li>
          <li>Multifocal Contact Lenses</li>
          <li>Silicone Hydrogel Lenses</li>
        </ul>
      </div>

      <div class="ftrbox">
        <h2>INFORMATION</h2>
        <ul>
          <li>About Us</li>
          <li>FAQs</li>
          <li>Contact Us</li>
          <li>User Manual</li>
        </ul>
      </div>

      <div class="ftrbox">
        <h2>ORDER</h2>
        <ul>
          <li>My Account</li>
          <li>View Bag</li>
          <li>Wishlist</li>
          <li>Compare</li>
        </ul>
      </div>

    </div>

    <div class="footerBoxTwo">
      <div>
        <h2>NEWSLETTER SUBSCRIPTION</h2>
        <p>Sign up for Shella updates to receive information about new arrivals, future events and specials.</p>
        <form action="">
          <input type="search" placeholder="Enter Your Email Address">
          <button class="btnSearch">Subscribe</button>
        </form>
      </div>
      <div></div>
    </div>
  </div>
</footer>